{% extends 'base.html' %}
{% block title %}
  Add Items Page
{% endblock %}

{% block content %}
<div class="row" style="margin-top: 20px; margin-left: 20px;">
  <div class="col-8">
    <h2>Created Items:</h2>
    <br>
    <table class="table table-hover table-dark">
      <thead>
        <tr>
          <!-- Your Columns HERE: -->
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Barcode</th>
          <th scope="col">Price</th>
          <th scope="col">Options</th>
        </tr>
      </thead>
      <tbody>
        <!-- You rows inside the table HERE: -->
        {% for item in items %}
        {% include 'includes/items_modals.html' %}
          <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.barcode }}</td>
            <td>{{ item.price }}$</td>
            <td>
              <button class="btn btn-outline btn-success"data-toggle="modal" data-target="#Modal-PurchaseConfirm-{{ item.id }}">Confirm</button>  
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="col-4">
    <h2>Create Item:</h2>
    <p>Click on create to put an item on the List</p>
    <br>
    <div class="row">
      <form method="POST" class="form_add_item" style="color: white;">
        {{ form.name.label() }}
        {{ form.name(class="form-control", placeholder="Item Name") }}

        {{ form.price.label() }}
        {{ form.price(class="form-control", placeholder="Item Price") }}

        {{ form.barcode.label() }}
        {{ form.barcode(class="form-control", placeholder="Item Barcode") }}

        {{ form.description.label() }}
        {{ form.description(class="form-control", placeholder="Item Description") }}
        <br>

        {{ form.submit(class="btn btn-lg btn-block btn-primary") }}

        <!-- <input placeholder="Item Name..."> 
        <input placeholder="Price...">
        <input placeholder="Barcode...">
        <input placeholder="Description..."> -->
      </form>
    </div>
  </div>
</div>
{% endblock %}