{% extends 'base.html' %}
{% block title %}
Register Page
{% endblock %}

{% block content %}
<body class="text-center">
  <div class="container">
    <form method="POST" class="form-register" style="color:white">
      {{ form.hidden_tag() }}
      <img class="mb-4" src="https://res.cloudinary.com/jimshapedcoding/image/upload/v1597332609/android-icon-192x192_ove2a7.png" alt="" />
      <h1 class="h3 mb-3 font-weight-normal">
        Please Create your Account
      </h1>
      <br>
      {{ form.username.label() }}
      {{ form.username(class='form-control', placeholder='User Name') }}

      {{ form.email_address.label() }}
      {{ form.email_address(class='form-control', placeholder='Email Address') }}

      {{ form.password1.label() }}
      {{ form.password1(class='form-control', placeholder='Password') }}

      {{ form.password2.label() }}
      {{ form.password2(class='form-control', placeholder='Confirm Password') }}

      <br>

      <div class="checkbox mb-3">
        <h6>Already have an account?</h6>
        <a class="btn btn-sm btn-secondary" href="{{ url_for('login_page') }}">Log In</a>
      </div>

      {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
    </form>
  </div>
</body>
{% endblock %}